
<div class="">

  <h3>HELLO WORLD</h3>
  <%if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to "sign out" , destroy_user_session_path(current_user.id)  ,method: :delete%>
  <%end%>

  <%= link_to "sign in" , new_user_session_path  %>

  <%= link_to "sign up" , new_user_registration_path  %>

  <div><%= link_to "Rooms" , rooms_path   %></div>

</div>



